@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Alexander Orendain
   Date: 10.24.18 
   
   Filename: sp_layout.css

*/

/* In the styles below, I have set the actual page height and adjusted the basic layout of the page like it's height, width, etc. */
/* Window and Body Styles */
html {
    height: 100%;
}

body {
    width: 95%;
    min-width: 640px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
}

header,
ul,
nav,
li,
a {
    box-sizing: border-box;
}

/* In the line of code underneath, I have used the style that prevents container collaspe. */
/* Row Styles */
.row::after {
    clear: both;
    content: "";
    display: table;
}

/* Underneath I have adjusted what the header and nav will look like. By changing their placement and size.  */
/* Page Header Styles */
body>header>img {
    display: block;
    width: 70%;
    float: left;
}

header>nav {
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    width: 30%;
}

header>nav>ul>li>a {
    display: block;
    width: 100%;
}

/* In the style underneath, I have changed the qualities of the horizontal nav and have given it an even amount of space around it. */
/* Horizontal Navigation List Styles */
nav.horizontal ul>li {
    display: block;
    width: 12.5%;
    float: left;
}

/* Underneath I have edited the look of the unordered list by changing the amount of space around it, such as the padding and margin. I have also centered it by changing the margin size on the left and right. */
/* Topics Styles */
ul#topics>li {
    display: block;
    width: 20%;
    float: left;
    margin-left: 0%;
    margin-right: 1.5%;
}

ul#topics>li:first-of-type {
    margin-left: 7.75%;
}

ul#topics>li:last-of-type {
    margin-right: 7.75%;
}

ul#topics img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* In the line of code underneath, I have changed the amount of space between two seperate elements or the thematic break. */
/* HR Styles */
hr {
    width: 50%;
}

/* In the chunck of styles underneath I have edited the sizing of the comments and the list that they reside in. I have also changed their positioning. */
/* Customer Comment Styles */
ul#comments {
    width: 75%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

ul#comments li {
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

ul#comments li img {
    display: block;
    width: 20%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

ul#comments li p {
    float: left;
    width: 70%;
}

/* In the final style below, I have removed anything that is floating around the footer. */
/* Footer Styles */
footer {
    clear: both;
}